{{> head }}
    <!-- simbolo debe estar pegado -->
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Hulk</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, ducimus nostrum! Aliquam aspernatur porro corporis exercitationem eum earum esse eius perferendis necessitatibus, quo perspiciatis maiores blanditiis iusto dolorem rem. Qui.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/hulk.png" alt="img" class="img-thumbnail">
        </div>
    </div>

{{> footer }}
      